
* {
    margin: 0;
    padding: 0;
}

body {
    font: 400 14px/1.5 'Hind', sans-serif;
    color: #565655;
    background-image: url("/images/fon.jpg");
    background-size: 100% 100%;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

a {
    margin: 0px 10px 0px 5px;
}

.btn, .btn2 {
    border: none;
    cursor: pointer;
    width: 120px;
    height: 40px;
    background: #005cbf;
    color: #fff;
    margin: 10px;
    margin-bottom: 10px;
    transition: background 0.3s;
}

.btn:hover {
    background: deepskyblue;
}

.btn2 {
    position: absolute;
    right: 0;
    margin: 10px;
}

.flex {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2px;
}

nav {
    display: flex;
    min-height: 65px;
}

.row {
    display: flex;
}

.th form {
    margin-left: 10px;
}

span form {
    display: inline-block;
}

.top-btn div {
    margin: 10px;
}

.navbar-light .navbar-brand {
    color: rgba(0, 0, 0, 0.9);
}

.bg-light {
    background-color: #ced0dd !important;
}

.myButton {
    -moz-box-shadow: 3px 4px 0px 0px #1564ad;
    -webkit-box-shadow: 3px 4px 0px 0px #1564ad;
    box-shadow: 3px 4px 0px 0px #1564ad;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5));
    background: -moz-linear-gradient(top, #79bbff 5%, #378de5 100%);
    background: -webkit-linear-gradient(top, #79bbff 5%, #378de5 100%);
    background: -o-linear-gradient(top, #79bbff 5%, #378de5 100%);
    background: -ms-linear-gradient(top, #79bbff 5%, #378de5 100%);
    background: linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5', GradientType=0);
    background-color: #79bbff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #337bc4;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    font-weight: bold;

    text-decoration: none;
    text-shadow: 0px 1px 0px #528ecc;
}

.myButton:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff));
    background: -moz-linear-gradient(top, #378de5 5%, #79bbff 100%);
    background: -webkit-linear-gradient(top, #378de5 5%, #79bbff 100%);
    background: -o-linear-gradient(top, #378de5 5%, #79bbff 100%);
    background: -ms-linear-gradient(top, #378de5 5%, #79bbff 100%);
    background: linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff', GradientType=0);
    background-color: #378de5;
}

.mainClass {
    height: 65px;
}

.tarifForm {
    text-align: center;
    align-items: center;
    align-content: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}

.form-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}

.align-items-center {
    -ms-flex-align: center;
    align-items: center;
}

#container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 260px;
    height: 260px;
    border-radius: 5px;
    background: rgba(3, 3, 3, 0.25);
    box-shadow: 1px 1px 50px #000;
    display: none;
}

.border {
    border: 1px solid #dee2e6;
}

.tabtab td {
    border: solid;
    border-color: #dee2e6;
    background-color: #79BBFF;
    height: 140%;

}

.tabtab tr {
    border: solid;
    border-color: #282b81;
}

.tabtab {
    width: 100%;
}

.table {
    border-collapse: collapse !important;
}

.table td,
.table tr {
    background-color: #fff !important;
}

.table-bordered tr,
.table-bordered td {
    border: 1px solid #dee2e6;
}

.table-dark {
    color: inherit;
}

.table-dark tr,
.table-dark td,
.table-dark thead tr,
.table-dark tbody + tbody {
    border-color: #dee2e6;
}

.table .thead-dark tr {
    color: inherit;
    border-color: #dee2e6;
}
